In [43]:
re.findall('(?<=<a href="/players/caruana_fabiano">)(.*)(?=</a>)', webpage)

['Caruana, Fabiano']

In [21]:
cred = []

with open('credentials.txt') as f:
    for row in f:
        cred.append(row.rstrip('\n'))

['AKIAQL22TLYGRMH7R3UK', '72oHUjgBDI9BdYo/zH4w+X9G5ayijy3+8TUZ2LLi']

In [4]:
df = pd.read_csv('data/2023-05-09/abdusattorov_nodirbek.csv')
df.head()

,rating,play_as,opponent,opponent_rating,result,move,ECO,site,year
0,2731.0,white,"Krassowizkij, Jaroslaw",2439.0,win,37,C65,Germany,2023
1,2731.0,black,"Vallejo Pons, Francisco",2712.0,draw,52,C42,Germany,2023
2,2734.0,white,"So, Wesley",2766.0,draw,69,E41,Dusseldorf,2023
3,2734.0,black,"Giri, Anish",2780.0,draw,44,B67,Dusseldorf,2023
4,2734.0,white,"Duda, Jan Krzysztof",2729.0,draw,49,C43,Dusseldorf,2023

In [22]:
df.to_csv(
    's3://chess-elo-bucket/data/data/noderbek.csv',
    index=False,
    storage_options={
        'key': 'AKIAQL22TLYGRMH7R3UK',
        'secret': '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'
    }
)

In [68]:
import re
import pandas as pd
from urllib.request import Request, urlopen
from tqdm import tqdm
from time import time
from datetime import datetime
from pathlib import Path
import s3fs

def get_cred(cred_path='credentials.txt'):
    cred = []

    with open(cred_path) as f:
        for row in f:
            cred.append(row.rstrip('\n'))

    return cred

def main(path_init='data', n=100):

    name_list_dict = name_list(n)
    date = datetime.today().strftime('%Y-%m-%d')
    path = f"{path_init}/{date}"

    # Path(path).mkdir(parents=True, exist_ok=True)

    for values in name_list_dict.values():
        temp = Chess_Elo(list(name_list_dict.keys()), values[0], values[-1], path)
        temp.df_elo()

    temp.df_ranking()
    


def name_list(n):
    url=f"https://2700chess.com/?per-page=100"
    req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})


    while True:
        try:
            web_byte = urlopen(req).read()
            break
        except:
            time.sleep(1)

    webpage = web_byte.decode('utf-8')

    result_url = re.findall('(?<=search=)(.*)(?=" title=")', webpage)[:n]
    result_file_name = re.findall('(?<=<a href="/players/)(.*)(?=">)', webpage)[:n]
    result_name = []
    for name in result_file_name:
        result_name.append(re.findall(f'(?<=<a href="/players/{name}">)(.*)(?=</a>)', webpage)[0])

    result_dict = dict(zip(result_name, list(zip(result_file_name, result_url))))

    return result_dict


class Chess_Elo(object):
    def __init__(self, ranking, name, url, path):
        self.ranking = ranking
        self.name = name
        self.url = url
        self.path = path
        self.n = 0
        self.cred_list = get_cred()

    def tqdm_generator(self):
        while True:
            yield

    def chess_result_player(self, color, result):
        game_result = result.split('-')
        if color == 'white':
            if game_result[0] == '1':
                return 'win'
            elif game_result[0] == '0':
                return 'lose'
            else:
                return 'draw'
        else:
            if game_result[1] == '1':
                return 'win'
            elif game_result[1] == '0':
                return 'lose'
            else:
                return 'draw'

    def scrape_chess_elo(self):

        df_temp = pd.DataFrame(columns=['game_id', 
                                        'white_player', 
                                        'white_player_rating',
                                        'black_player',
                                        'black_player_rating',
                                        'game_result',
                                        'move',
                                        'ECO',
                                        'site',
                                        'year'])

        for _ in tqdm(self.tqdm_generator()):
            self.n += 1
            begin = len(df_temp)
           
            
            url=f"https://2700chess.com/games?search={self.url}&page={self.n}"
            req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})

            while True:
                try:
                    web_byte = urlopen(req).read()
                    break
                except:
                    time.sleep(1)

            webpage = web_byte.decode('utf-8')
                    
            result = re.findall('tr data-key(.*)tr', webpage)
                    
            for i in result:
                lst = []
                for k in i.split('><'):
                    try:
                        val_temp = re.search(r'>(.*)<', k).group(1)
                        if val_temp == ' ':
                            lst.append(None)
                        else:
                            lst.append(val_temp)
                    except: 
                        pass
                try:
                    df_temp.loc[len(df_temp)] = lst
                except:
                    try:
                        if bool(re.search('^[A-Z]{1}[0-9]{2}$', lst[7])):
                            lst.insert(8, None)
                            df_temp.loc[len(df_temp)] = lst
                        else:
                            lst.insert(7, None)
                            df_temp.loc[len(df_temp)] = lst
                    except:
                        lst.insert(7, None)
                        df_temp.loc[len(df_temp)] = lst
            
            if begin == len(df_temp):
                break
            else:
                pass

        return df_temp

    def play_as_decider(self, player_name_dependent ,player_name_control):
        try:
            if player_name_dependent == player_name_control:
                return 'white'
            else:
                return 'black'
        except:
            return 'black'


    def df_ranking(self):

        pd.DataFrame(self.ranking, columns=['name']).to_csv(
                                                        f'{self.path}/rankings.csv', 
                                                        index=False, 
                                                        storage_options={
                                                            'key': self.cred_list[0],
                                                            'secret': self.cred_list[1]
                                                        })

    def df_elo(self):

        df = self.scrape_chess_elo().copy()
        player_name = df['white_player'].mode()

        df['play_as'] = df['white_player'].apply(lambda x: self.play_as_decider(x, player_name[0]))
        df['rating'] = df.apply(lambda x: x['white_player_rating'] if x['play_as'] == 'white' else x['black_player_rating'], axis=1)
        df['opponent'] = df.apply(lambda x: x['white_player'] if x['play_as'] == 'black' else x['black_player'], axis=1)
        df['opponent_rating'] = df.apply(lambda x: x['black_player_rating'] if x['play_as'] == 'white' else x['white_player_rating'], axis=1)
        df['result'] = df.apply(lambda x: self.chess_result_player(x['play_as'], x['game_result']), axis=1)


        df[['rating', 'play_as', 'opponent', 'opponent_rating', 'result', 'move', 'ECO', 'site', 'year']].to_csv(
                                                                                                            f'{self.path}/{self.name}.csv', 
                                                                                                            index=False, 
                                                                                                            storage_options={
                                                                                                                'key': self.cred_list[0],
                                                                                                                'secret': self.cred_list[1]
                                                                                                            })

In [70]:
# name index 60 has a problem
error_list = []

if __name__ == "__main__":

    with open('bucket_url.txt') as f:
        bucket_url = f.readlines()[0]

    n = 10

    main(bucket_url, m)

81it [00:35,  2.29it/s]
58it [00:22,  2.55it/s]
36it [00:27,  1.30it/s]
36it [00:41,  1.15s/it]
79it [01:30,  1.14s/it]
61it [01:26,  1.42s/it]
51it [00:51,  1.02s/it]
56it [01:18,  1.40s/it]
84it [01:44,  1.24s/it]
35it [00:36,  1.05s/it]

In [82]:
import glob
for f in glob.iglob("*.csv"): # generator, search immediate subdirectories 
    temp = pd.read_csv(f)
    if temp.shape[0] < 300:
        print(f.replace('.csv', ''), ':' ,temp.shape[0])
    else:
        pass

Duda, Jan-Krzysztof : 143
Howell, David W L : 1
Ivanchuk, Vasyl : 53
Jakovenko, Dmitry : 2
Martirosyan, Haik M. : 207
Narayanan.S.L : 164
Praggnanandhaa R : 219
Shankland, Sam : 27
Tabatabaei, M. Amin : 179

In [88]:
new_list_name = ['Duda, Jan Krzysztof',
 'Howell, David',
 'Ivanchuk, Vassily',
 'Jakovenko, Dmitrij',
 'Martirosyan, Haik M.',
 'Narayanan.S.L',
 'Praggnanandhaa R',
 'Shankland, Samuel L',
 'Tabatabaei, M. Amin']

In [92]:
import glob
for f in glob.iglob("*.csv"): # generator, search immediate subdirectories 
    temp = pd.read_csv(f)
    if temp.shape[0] < 300:
        print(f.replace('.csv', ''), ':' ,temp.shape[0])
    else:
        pass

Martirosyan, Haik M. : 207
Narayanan.S.L : 164
Praggnanandhaa R : 219
Tabatabaei, M. Amin : 179

## Magnus

In [1]:
'%2C+'.join(['Magnus', 'Carlsen'])

'Magnus%2C+Carlsen'

In [30]:
df_magnus = pd.DataFrame(columns=['game_id', 
                                  'white_player', 
                                  'white_player_rating',
                                  'black_player',
                                  'black_player_rating',
                                  'game_result',
                                  'move',
                                  'ECO',
                                  'site',
                                  'year'])



n = 0

while True:
    n += 1
    begin = len(df_magnus)
    url=f"https://2700chess.com/games?search=Carlsen%2C+Magnus&page={n}"
    req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})

    web_byte = urlopen(req).read()

    webpage = web_byte.decode('utf-8')
            
    result = re.findall('tr data-key(.*)tr', webpage)
            
    for i in result:
        lst = []
        for k in i.split('><'):
            try:
                val_temp = re.search(r'>(.*)<', k).group(1)
                if val_temp == ' ':
                    lst.append(None)
                else:
                    lst.append(val_temp)
            except: 
                pass
        try:
            df_magnus.loc[len(df_magnus)] = lst
        except:
            lst.insert(7, None)
            df_magnus.loc[len(df_magnus)] = lst
    
    if begin == len(df_magnus):
        break
    else:
        pass


df_magnus_csv = df_magnus.copy()

df_magnus_csv['play_as'] = df_magnus_csv['white_player'].apply(lambda x: 'white' if x == 'Carlsen, Magnus' else 'black')
df_magnus_csv['rating'] = df_magnus_csv.apply(lambda x: x['white_player_rating'] if x['play_as'] == 'white' else x['black_player_rating'], axis=1)
df_magnus_csv['opponent'] = df_magnus_csv.apply(lambda x: x['white_player'] if x['play_as'] == 'black' else x['black_player'], axis=1)
df_magnus_csv['opponent_rating'] = df_magnus_csv.apply(lambda x: x['black_player_rating'] if x['play_as'] == 'white' else x['white_player_rating'], axis=1)
df_magnus_csv['result'] = df_magnus_csv.apply(lambda x: chess_result_player(x['play_as'], x['game_result']), axis=1)

KeyboardInterrupt:

In [28]:
df_magnus_csv

NameError: name 'df_magnus_csv' is not defined

In [135]:
df_magnus_csv = df_magnus[:-3].copy()

In [137]:
df_magnus_csv['play_as'] = df_magnus_csv['white_player'].apply(lambda x: 'white' if x == 'Carlsen, Magnus' else 'black')
df_magnus_csv['rating'] = df_magnus_csv.apply(lambda x: x['white_player_rating'] if x['play_as'] == 'white' else x['black_player_rating'], axis=1)
df_magnus_csv['opponent'] = df_magnus_csv.apply(lambda x: x['white_player'] if x['play_as'] == 'black' else x['black_player'], axis=1)
df_magnus_csv['opponent_rating'] = df_magnus_csv.apply(lambda x: x['black_player_rating'] if x['play_as'] == 'white' else x['white_player_rating'], axis=1)
df_magnus_csv['result'] = df_magnus_csv.apply(lambda x: chess_result_player(x['play_as'], x['game_result']), axis=1)

In [138]:
df_magnus_csv[['rating', 'play_as', 'opponent', 'opponent_rating', 'result', 'move', 'ECO', 'site', 'year']].head(3)

,rating,play_as,opponent,opponent_rating,result,move,ECO,site,year
0,2859,black,"Giri, Anish",2764,lose,35,E15,Wijk aan Zee,2023
1,2859,white,"Ding, Liren",2811,draw,37,A46,Wijk aan Zee,2023
2,2859,black,"Keymer, Vincent",2696,win,65,D91,Wijk aan Zee,2023

In [139]:
df_magnus_csv[['rating', 'play_as', 'opponent', 'opponent_rating', 'result', 'move', 'ECO', 'site', 'year']].to_csv('magnus.csv', index=False)

In [140]:
df_test = pd.read_csv('magnus.csv')
df_test.head()

,rating,play_as,opponent,opponent_rating,result,move,ECO,site,year
0,2859.0,black,"Giri, Anish",2764.0,lose,35,E15,Wijk aan Zee,2023
1,2859.0,white,"Ding, Liren",2811.0,draw,37,A46,Wijk aan Zee,2023
2,2859.0,black,"Keymer, Vincent",2696.0,win,65,D91,Wijk aan Zee,2023
3,2859.0,white,"Aronian, Levon",2735.0,draw,41,E10,Wijk aan Zee,2023
4,2830.0,white,"Abdusattorov, Nodirbek",2666.0,win,38,C77,Almaty,2022

In [141]:
df_test.tail()

,rating,play_as,opponent,opponent_rating,result,move,ECO,site,year
3989,NaN,black,"Skovgaard, Peter Nicolai",2130.0,win,37,D94,Norway,2001
3990,NaN,black,"Bartels, Holger",2170.0,draw,48,C59,Bad Wiessee,2000
3991,NaN,white,"Olzem, Lothar",2179.0,draw,36,D00,Bad Wiessee,2000
3992,NaN,black,"Kaiser, Guenter",NaN,win,36,B08,Bad Wiessee,2000
3993,NaN,white,"Cordts, Ingo",2222.0,lose,30,A31,Bad Wiessee,2000

## Kasparov

In [142]:
df_garry = pd.DataFrame(columns=['game_id', 
                                  'white_player', 
                                  'white_player_rating',
                                  'black_player',
                                  'black_player_rating',
                                  'game_result',
                                  'move',
                                  'ECO',
                                  'site',
                                  'year'])

n = 0

while True:
    n += 1
    begin = len(df_garry)
    url=f"https://2700chess.com/games?search=Kasparov,%20Garry&page={n}"
    req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})

    while True
        try:
            web_byte = urlopen(req).read()
            break
        except:
            pass

    webpage = web_byte.decode('utf-8')
            
    result = re.findall('tr data-key(.*)tr', webpage)
            
    for i in result:
        lst = []
        for k in i.split('><'):
            try:
                val_temp = re.search(r'>(.*)<', k).group(1)
                if val_temp == ' ':
                    lst.append(None)
                else:
                    lst.append(val_temp)
            except: 
                pass
        try:
            df_garry.loc[len(df_garry)] = lst
        except:
            lst.insert(7, None)
            df_garry.loc[len(df_garry)] = lst
    
    if begin == len(df_garry):
        break
    else:
        pass

In [143]:
df_garry

,game_id,white_player,white_player_rating,black_player,black_player_rating,game_result,move,ECO,site,year
0,1,"Nepomniachtchi, Ian",2807,"Kasparov, Garry",2801,1/2-1/2,30,A10,Zagreb,2021
1,2,"Kasparov, Garry",2801,"Vachier-Lagrave, Maxime",2794,0-1,43,A04,Zagreb,2021
2,3,"Giri, Anish",2744,"Kasparov, Garry",2801,1/2-1/2,39,A04,Zagreb,2021
3,4,"Kasparov, Garry",2801,"Mamedyarov, Shakhriyar",2716,0-1,26,D61,Zagreb,2021
4,5,"Korobov, Anton",2668,"Kasparov, Garry",2801,1-0,17,E73,Zagreb,2021
...,...,...,...,...,...,...,...,...,...,...
2577,2578,"Kasparov, Garry",None,"Averbakh, Yuri L",None,1-0,48,C68,Moscow,1974
2578,2579,"Magerramov, Elmar",None,"Kasparov, Garry",None,0-1,35,B84,Baku,1973
2579,2580,"Kengis, Edvins",None,"Kasparov, Garry",None,1/2-1/2,54,B89,Vilnius,1973
2580,2581,"Kasparov, Garry",None,"Muratkuliev, Shohrat",None,1-0,32,C84,Baku,1973
2581,2582,"Kasparov, Garry",None,Vasilienko,None,1-0,40,C04,Kiev,1973

In [154]:
df_garry_csv = df_garry.copy()

In [155]:
def chess_result_player(color, game_result):
    game_result = game_result.split('-')
    if color == 'white':
        if game_result[0] == '1':
            return 'win'
        elif game_result[0] == '0':
            return 'lose'
        else:
            return 'draw'
    else:
        if game_result[1] == '1':
            return 'win'
        elif game_result[1] == '0':
            return 'lose'
        else:
            return 'draw'

In [159]:
df_garry_csv['play_as'] = df_garry_csv['white_player'].apply(lambda x: 'white' if x == 'Kasparov, Garry' else 'black')
df_garry_csv['rating'] = df_garry_csv.apply(lambda x: x['white_player_rating'] if x['play_as'] == 'white' else x['black_player_rating'], axis=1)
df_garry_csv['opponent'] = df_garry_csv.apply(lambda x: x['white_player'] if x['play_as'] == 'black' else x['black_player'], axis=1)
df_garry_csv['opponent_rating'] = df_garry_csv.apply(lambda x: x['black_player_rating'] if x['play_as'] == 'white' else x['white_player_rating'], axis=1)
df_garry_csv['result'] = df_garry_csv.apply(lambda x: chess_result_player(x['play_as'], x['game_result']), axis=1)

In [168]:
df_garry_csv[['rating', 'play_as', 'opponent', 'opponent_rating', 'result', 'move', 'ECO', 'site', 'year']].head(5)

,rating,play_as,opponent,opponent_rating,result,move,ECO,site,year
0,2801,black,"Nepomniachtchi, Ian",2807,draw,30,A10,Zagreb,2021
1,2801,white,"Vachier-Lagrave, Maxime",2794,lose,43,A04,Zagreb,2021
2,2801,black,"Giri, Anish",2744,draw,39,A04,Zagreb,2021
3,2801,white,"Mamedyarov, Shakhriyar",2716,lose,26,D61,Zagreb,2021
4,2801,black,"Korobov, Anton",2668,lose,17,E73,Zagreb,2021

In [169]:
df_garry_csv[['rating', 'play_as', 'opponent', 'opponent_rating', 'result', 'move', 'ECO', 'site', 'year']].to_csv('garry.csv', index=False)

In [170]:
df_test = pd.read_csv('garry.csv')
df_test.head()

,rating,play_as,opponent,opponent_rating,result,move,ECO,site,year
0,2801.0,black,"Nepomniachtchi, Ian",2807.0,draw,30,A10,Zagreb,2021
1,2801.0,white,"Vachier-Lagrave, Maxime",2794.0,lose,43,A04,Zagreb,2021
2,2801.0,black,"Giri, Anish",2744.0,draw,39,A04,Zagreb,2021
3,2801.0,white,"Mamedyarov, Shakhriyar",2716.0,lose,26,D61,Zagreb,2021
4,2801.0,black,"Korobov, Anton",2668.0,lose,17,E73,Zagreb,2021

In [171]:
df_test.tail()

,rating,play_as,opponent,opponent_rating,result,move,ECO,site,year
2577,NaN,white,"Averbakh, Yuri L",NaN,win,48,C68,Moscow,1974
2578,NaN,black,"Magerramov, Elmar",NaN,win,35,B84,Baku,1973
2579,NaN,black,"Kengis, Edvins",NaN,draw,54,B89,Vilnius,1973
2580,NaN,white,"Muratkuliev, Shohrat",NaN,win,32,C84,Baku,1973
2581,NaN,white,Vasilienko,NaN,win,40,C04,Kiev,1973