In [1]:
name_list = ['Carlsen, Magnus',
 'Ding, Liren',
 'Nepomniachtchi, Ian',
 'Firouzja, Alireza',
 'Nakamura, Hikaru',
 'Caruana, Fabiano',
 'Giri, Anish',
 'So, Wesley',
 'Anand, Viswanathan',
 'Karjakin, Sergey',
 'Radjabov, Teimour',
 'Grischuk, Alexander',
 'Dominguez Perez, Leinier',
 'Mamedyarov, Shakhriyar',
 'Rapport, Richard',
 'Vachier-Lagrave, Maxime',
 'Aronian, Levon',
 'Vidit, Santosh Gujrathi',
 'Yu, Yangyi',
 'Andreikin, Dmitry',
 'Duda, Jan Krzysztof',
 'Le, Quang Liem',
 'Topalov, Veselin',
 'Gukesh D',
 'Vitiugov, Nikita',
 'Erigaisi Arjun',
 'Wang, Hao',
 'Wei, Yi',
 'Maghsoodloo, Parham',
 'Abdusattorov, Nodirbek',
 'Sjugirov, Sanan',
 'Vallejo Pons, Francisco',
 'Shankland, Samuel L',
 'Dubov, Daniil',
 'Niemann, Hans Moke',
 'Eljanov, Pavel',
 'Harikrishna, Pentala',
 'Robson, Ray',
 'Artemiev, Vladislav',
 'Deac, Bogdan-Daniel',
 'Sargissian, Gabriel',
 'Bu, Xiangzhi',
 'Keymer, Vincent',
 'Tomashevsky, Evgeny',
 'Xiong, Jeffery',
 'Adams, Michael',
 'Sevian, Samuel',
 'Alekseenko, Kirill',
 'Tabatabaei, M. Amin',
 'Wojtaszek, Radoslaw',
 'Amin, Bassem',
 'Praggnanandhaa R',
 'Predke, Alexandr',
 'Svidler, Peter',
 'Navara, David',
 'Jakovenko, Dmitrij',
 'Martirosyan, Haik M.',
 'Moussard, Jules',
 'Van Foreest, Jorden',
 'Anton Guijarro, David',
 'Kasimdzhanov, Rustam',
 'Almasi, Zoltan',
 'Salem, A.R. Saleh',
 'Esipenko, Andrey',
 'Fedoseev, Vladimir',
 'Kovalenko, Igor',
 'Li, Chao B',
 'Oparin, Grigoriy',
 'Nihal Sarin',
 'Narayanan.S.L',
 'Sarana, Alexey',
 'Gelfand, Boris',
 'Ni, Hua',
 'Shirov, Alexei',
 'Kamsky, Gata',
 'Volokitin, Andrei',
 'Ivanchuk, Vassily',
 'Howell, David',
 'Naiditsch, Arkadij',
 'Shevchenko, Kirill',
 'Matlakov, Maxim',
 'Najer, Evgeniy',
 'Bluebaum, Matthias',
 'Guseinov, Gadir',
 'Inarkiev, Ernesto',
 'Grandelius, Nils',
 'Cheparinov, Ivan',
 'Ma, Qun',
 'Saric, Ivan',
 'Santos Latasa, Jaime',
 'Nguyen, Thai Dai Van',
 'Ponomariov, Ruslan',
 'Nyzhnyk, Illya',
 'Sindarov, Javokhir',
 'Tari, Aryan',
 'Bacrot, Etienne',
 'Cori, Jorge',
 'Korobov, Anton',
 'Malakhov, Vladimir',
 'Donchenko, Alexander']

In [2]:
import re
import pandas as pd
from urllib.request import Request, urlopen
from tqdm import tqdm
from time import time

class Chess_Elo(object):
    def __init__(self, name):
        self.name = name
        self.n = 0

    def tqdm_generator(self):
        while True:
            yield

    def chess_result_player(self, color, result):
        game_result = result.split('-')
        if color == 'white':
            if game_result[0] == '1':
                return 'win'
            elif game_result[0] == '0':
                return 'lose'
            else:
                return 'draw'
        else:
            if game_result[1] == '1':
                return 'win'
            elif game_result[1] == '0':
                return 'lose'
            else:
                return 'draw'

    def scrape_chess_elo(self):

        df_temp = pd.DataFrame(columns=['game_id', 
                                        'white_player', 
                                        'white_player_rating',
                                        'black_player',
                                        'black_player_rating',
                                        'game_result',
                                        'move',
                                        'ECO',
                                        'site',
                                        'year'])

        for _ in tqdm(self.tqdm_generator()):
            self.n += 1
            begin = len(df_temp)
            name_url = self.name
            name_url = name_url.split()
            name_url = '%20'.join(name_url)
            
            url=f"https://2700chess.com/games?search={name_url}&page={self.n}"
            req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})

            while True:
                try:
                    web_byte = urlopen(req).read()
                    break
                except:
                    time.sleep(1)

            webpage = web_byte.decode('utf-8')
                    
            result = re.findall('tr data-key(.*)tr', webpage)
                    
            for i in result:
                lst = []
                for k in i.split('><'):
                    try:
                        val_temp = re.search(r'>(.*)<', k).group(1)
                        if val_temp == ' ':
                            lst.append(None)
                        else:
                            lst.append(val_temp)
                    except: 
                        pass
                try:
                    df_temp.loc[len(df_temp)] = lst
                except:
                    try:
                        if bool(re.search('^[A-Z]{1}[0-9]{2}$', lst[7])):
                            lst.insert(8, None)
                            df_temp.loc[len(df_temp)] = lst
                        else:
                            lst.insert(7, None)
                            df_temp.loc[len(df_temp)] = lst
                    except:
                        lst.insert(7, None)
                        df_temp.loc[len(df_temp)] = lst
            
            if begin == len(df_temp):
                break
            else:
                pass

        return df_temp

    def play_as_decider(self, player_name_dependent ,player_name_control):
        try:
            if player_name_dependent == player_name_control:
                return 'white'
            else:
                return 'black'
        except:
            return 'black'

    def df_elo(self):
        df = self.scrape_chess_elo().copy()
        player_name = df['white_player'].mode()

        df['play_as'] = df['white_player'].apply(lambda x: self.play_as_decider(x, player_name[0]))
        df['rating'] = df.apply(lambda x: x['white_player_rating'] if x['play_as'] == 'white' else x['black_player_rating'], axis=1)
        df['opponent'] = df.apply(lambda x: x['white_player'] if x['play_as'] == 'black' else x['black_player'], axis=1)
        df['opponent_rating'] = df.apply(lambda x: x['black_player_rating'] if x['play_as'] == 'white' else x['white_player_rating'], axis=1)
        df['result'] = df.apply(lambda x: self.chess_result_player(x['play_as'], x['game_result']), axis=1)
        df[['rating', 'play_as', 'opponent', 'opponent_rating', 'result', 'move', 'ECO', 'site', 'year']].to_csv(f'data/{self.name}.csv', index=False)

In [3]:
# name index 60 has a problem
error_list = []

for name in tqdm(name_list[5:][33:]):
    temp = Chess_Elo(name)
    temp.df_elo()

37it [00:16,  2.22it/s]00:00<?, ?it/s]
24it [00:09,  2.44it/s]00:16<17:02, 16.76s/it]
39it [00:28,  1.35it/s]00:26<12:43, 12.73s/it]
37it [00:40,  1.08s/it]00:55<19:46, 20.12s/it]
27it [00:19,  1.36it/s]01:36<27:18, 28.24s/it]
34it [00:25,  1.33it/s]01:56<24:00, 25.27s/it]
48it [00:37,  1.29it/s]02:22<23:44, 25.43s/it]
68it [00:57,  1.19it/s]02:59<26:51, 29.30s/it]
31it [00:25,  1.19it/s]03:56<34:26, 38.26s/it]
27it [00:22,  1.22it/s]04:22<30:25, 34.45s/it]
4it [00:03,  1.24it/s] [04:45<26:35, 30.69s/it]
50it [00:42,  1.19it/s][04:48<18:57, 22.30s/it]
30it [00:23,  1.25it/s][05:30<23:37, 28.35s/it]
5it [00:03,  1.41it/s] [05:54<22:06, 27.06s/it]
24it [00:17,  1.34it/s][05:58<15:58, 19.97s/it]
73it [01:00,  1.22it/s][06:16<15:10, 19.36s/it]
60it [00:51,  1.17it/s][07:16<24:17, 31.68s/it]
42it [00:33,  1.26it/s][08:07<28:13, 37.64s/it]
5it [00:03,  1.50it/s] [08:41<26:42, 36.43s/it]
20it [00:14,  1.37it/s][08:44<18:59, 26.50s/it]
44it [00:36,  1.20it/s][08:59<16:04, 22.96s/it]
36it [00:27,  1.33it/s][09:36<18:30, 27.08s/it]
36it [00:32,  1.12it/s][10:03<18:03, 27.10s/it]
43it [00:43,  1.02s/it][10:35<18:36, 28.63s/it]
27it [00:26,  1.03it/s][11:19<21:04, 33.28s/it]
35it [00:29,  1.19it/s][11:46<19:13, 31.16s/it]
34it [00:28,  1.20it/s][12:16<18:30, 30.86s/it]
38it [00:28,  1.32it/s][12:44<17:35, 30.17s/it]
27it [00:22,  1.23it/s][13:13<16:52, 29.78s/it]
28it [00:20,  1.35it/s][13:35<15:06, 27.48s/it]
9it [00:06,  1.38it/s] [13:56<13:36, 25.51s/it]
4it [00:03,  1.16it/s] [14:03<10:14, 19.83s/it]
25it [00:18,  1.34it/s][14:06<07:27, 14.93s/it]
73it [00:58,  1.24it/s][14:25<07:50, 16.23s/it]
33it [00:27,  1.20it/s][15:25<13:35, 29.12s/it]
84it [01:15,  1.11it/s][15:52<12:53, 28.65s/it]
52it [00:49,  1.06it/s][17:08<18:36, 42.94s/it]
37it [00:33,  1.11it/s][17:58<18:40, 44.83s/it]
86it [01:18,  1.10it/s][18:31<16:33, 41.39s/it]
41it [00:34,  1.19it/s][19:50<20:07, 52.52s/it]
57it [00:50,  1.12it/s][20:24<17:16, 47.14s/it]
30it [00:23,  1.28it/s][21:15<16:53, 48.27s/it]
40it [00:32,  1.23it/s][21:39<13:36, 40.85s/it]
44it [00:34,  1.27it/s][22:11<12:09, 38.42s/it]
27it [00:23,  1.16it/s][22:46<11:11, 37.32s/it]
36it [00:33,  1.09it/s][23:10<09:23, 33.16s/it]
42it [00:37,  1.12it/s][23:43<08:51, 33.19s/it]
36it [00:37,  1.05s/it][24:20<08:37, 34.53s/it]
48it [00:45,  1.06it/s][24:58<08:17, 35.54s/it]
10it [00:08,  1.21it/s][25:44<08:21, 38.57s/it]
43it [00:36,  1.16it/s][25:52<05:53, 29.49s/it]
13it [00:10,  1.24it/s][26:30<05:49, 31.81s/it]
23it [00:23,  1.00s/it][26:40<04:14, 25.42s/it]
47it [00:52,  1.12s/it][27:03<03:42, 24.75s/it]
23it [00:17,  1.29it/s][27:56<04:25, 33.20s/it]
17it [00:14,  1.16it/s][28:14<03:20, 28.62s/it]
30it [00:24,  1.24it/s][28:29<02:26, 24.46s/it]
62it [00:55,  1.12it/s][28:53<02:01, 24.40s/it]
19it [00:15,  1.25it/s][29:49<02:15, 33.79s/it]
50it [00:42,  1.18it/s][30:04<01:24, 28.26s/it]
42it [00:35,  1.17it/s][30:47<01:05, 32.52s/it]
32it [00:23,  1.34it/s][31:23<00:33, 33.57s/it]
100%|██████████| 62/62 [31:47<00:00, 30.76s/it]

In [82]:
import glob
for f in glob.iglob("*.csv"): # generator, search immediate subdirectories 
    temp = pd.read_csv(f)
    if temp.shape[0] < 300:
        print(f.replace('.csv', ''), ':' ,temp.shape[0])
    else:
        pass

Duda, Jan-Krzysztof : 143
Howell, David W L : 1
Ivanchuk, Vasyl : 53
Jakovenko, Dmitry : 2
Martirosyan, Haik M. : 207
Narayanan.S.L : 164
Praggnanandhaa R : 219
Shankland, Sam : 27
Tabatabaei, M. Amin : 179

In [88]:
new_list_name = ['Duda, Jan Krzysztof',
 'Howell, David',
 'Ivanchuk, Vassily',
 'Jakovenko, Dmitrij',
 'Martirosyan, Haik M.',
 'Narayanan.S.L',
 'Praggnanandhaa R',
 'Shankland, Samuel L',
 'Tabatabaei, M. Amin']

In [92]:
import glob
for f in glob.iglob("*.csv"): # generator, search immediate subdirectories 
    temp = pd.read_csv(f)
    if temp.shape[0] < 300:
        print(f.replace('.csv', ''), ':' ,temp.shape[0])
    else:
        pass

Martirosyan, Haik M. : 207
Narayanan.S.L : 164
Praggnanandhaa R : 219
Tabatabaei, M. Amin : 179

## Magnus

In [1]:
'%2C+'.join(['Magnus', 'Carlsen'])

'Magnus%2C+Carlsen'

In [30]:
df_magnus = pd.DataFrame(columns=['game_id', 
                                  'white_player', 
                                  'white_player_rating',
                                  'black_player',
                                  'black_player_rating',
                                  'game_result',
                                  'move',
                                  'ECO',
                                  'site',
                                  'year'])



n = 0

while True:
    n += 1
    begin = len(df_magnus)
    url=f"https://2700chess.com/games?search=Carlsen%2C+Magnus&page={n}"
    req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})

    web_byte = urlopen(req).read()

    webpage = web_byte.decode('utf-8')
            
    result = re.findall('tr data-key(.*)tr', webpage)
            
    for i in result:
        lst = []
        for k in i.split('><'):
            try:
                val_temp = re.search(r'>(.*)<', k).group(1)
                if val_temp == ' ':
                    lst.append(None)
                else:
                    lst.append(val_temp)
            except: 
                pass
        try:
            df_magnus.loc[len(df_magnus)] = lst
        except:
            lst.insert(7, None)
            df_magnus.loc[len(df_magnus)] = lst
    
    if begin == len(df_magnus):
        break
    else:
        pass


df_magnus_csv = df_magnus.copy()

df_magnus_csv['play_as'] = df_magnus_csv['white_player'].apply(lambda x: 'white' if x == 'Carlsen, Magnus' else 'black')
df_magnus_csv['rating'] = df_magnus_csv.apply(lambda x: x['white_player_rating'] if x['play_as'] == 'white' else x['black_player_rating'], axis=1)
df_magnus_csv['opponent'] = df_magnus_csv.apply(lambda x: x['white_player'] if x['play_as'] == 'black' else x['black_player'], axis=1)
df_magnus_csv['opponent_rating'] = df_magnus_csv.apply(lambda x: x['black_player_rating'] if x['play_as'] == 'white' else x['white_player_rating'], axis=1)
df_magnus_csv['result'] = df_magnus_csv.apply(lambda x: chess_result_player(x['play_as'], x['game_result']), axis=1)

KeyboardInterrupt:

In [28]:
df_magnus_csv

NameError: name 'df_magnus_csv' is not defined

In [135]:
df_magnus_csv = df_magnus[:-3].copy()

In [137]:
df_magnus_csv['play_as'] = df_magnus_csv['white_player'].apply(lambda x: 'white' if x == 'Carlsen, Magnus' else 'black')
df_magnus_csv['rating'] = df_magnus_csv.apply(lambda x: x['white_player_rating'] if x['play_as'] == 'white' else x['black_player_rating'], axis=1)
df_magnus_csv['opponent'] = df_magnus_csv.apply(lambda x: x['white_player'] if x['play_as'] == 'black' else x['black_player'], axis=1)
df_magnus_csv['opponent_rating'] = df_magnus_csv.apply(lambda x: x['black_player_rating'] if x['play_as'] == 'white' else x['white_player_rating'], axis=1)
df_magnus_csv['result'] = df_magnus_csv.apply(lambda x: chess_result_player(x['play_as'], x['game_result']), axis=1)

In [138]:
df_magnus_csv[['rating', 'play_as', 'opponent', 'opponent_rating', 'result', 'move', 'ECO', 'site', 'year']].head(3)

,rating,play_as,opponent,opponent_rating,result,move,ECO,site,year
0,2859,black,"Giri, Anish",2764,lose,35,E15,Wijk aan Zee,2023
1,2859,white,"Ding, Liren",2811,draw,37,A46,Wijk aan Zee,2023
2,2859,black,"Keymer, Vincent",2696,win,65,D91,Wijk aan Zee,2023

In [139]:
df_magnus_csv[['rating', 'play_as', 'opponent', 'opponent_rating', 'result', 'move', 'ECO', 'site', 'year']].to_csv('magnus.csv', index=False)

In [140]:
df_test = pd.read_csv('magnus.csv')
df_test.head()

,rating,play_as,opponent,opponent_rating,result,move,ECO,site,year
0,2859.0,black,"Giri, Anish",2764.0,lose,35,E15,Wijk aan Zee,2023
1,2859.0,white,"Ding, Liren",2811.0,draw,37,A46,Wijk aan Zee,2023
2,2859.0,black,"Keymer, Vincent",2696.0,win,65,D91,Wijk aan Zee,2023
3,2859.0,white,"Aronian, Levon",2735.0,draw,41,E10,Wijk aan Zee,2023
4,2830.0,white,"Abdusattorov, Nodirbek",2666.0,win,38,C77,Almaty,2022

In [141]:
df_test.tail()

,rating,play_as,opponent,opponent_rating,result,move,ECO,site,year
3989,NaN,black,"Skovgaard, Peter Nicolai",2130.0,win,37,D94,Norway,2001
3990,NaN,black,"Bartels, Holger",2170.0,draw,48,C59,Bad Wiessee,2000
3991,NaN,white,"Olzem, Lothar",2179.0,draw,36,D00,Bad Wiessee,2000
3992,NaN,black,"Kaiser, Guenter",NaN,win,36,B08,Bad Wiessee,2000
3993,NaN,white,"Cordts, Ingo",2222.0,lose,30,A31,Bad Wiessee,2000

## Kasparov

In [142]:
df_garry = pd.DataFrame(columns=['game_id', 
                                  'white_player', 
                                  'white_player_rating',
                                  'black_player',
                                  'black_player_rating',
                                  'game_result',
                                  'move',
                                  'ECO',
                                  'site',
                                  'year'])

n = 0

while True:
    n += 1
    begin = len(df_garry)
    url=f"https://2700chess.com/games?search=Kasparov,%20Garry&page={n}"
    req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})

    while True
        try:
            web_byte = urlopen(req).read()
            break
        except:
            pass

    webpage = web_byte.decode('utf-8')
            
    result = re.findall('tr data-key(.*)tr', webpage)
            
    for i in result:
        lst = []
        for k in i.split('><'):
            try:
                val_temp = re.search(r'>(.*)<', k).group(1)
                if val_temp == ' ':
                    lst.append(None)
                else:
                    lst.append(val_temp)
            except: 
                pass
        try:
            df_garry.loc[len(df_garry)] = lst
        except:
            lst.insert(7, None)
            df_garry.loc[len(df_garry)] = lst
    
    if begin == len(df_garry):
        break
    else:
        pass

In [143]:
df_garry

,game_id,white_player,white_player_rating,black_player,black_player_rating,game_result,move,ECO,site,year
0,1,"Nepomniachtchi, Ian",2807,"Kasparov, Garry",2801,1/2-1/2,30,A10,Zagreb,2021
1,2,"Kasparov, Garry",2801,"Vachier-Lagrave, Maxime",2794,0-1,43,A04,Zagreb,2021
2,3,"Giri, Anish",2744,"Kasparov, Garry",2801,1/2-1/2,39,A04,Zagreb,2021
3,4,"Kasparov, Garry",2801,"Mamedyarov, Shakhriyar",2716,0-1,26,D61,Zagreb,2021
4,5,"Korobov, Anton",2668,"Kasparov, Garry",2801,1-0,17,E73,Zagreb,2021
...,...,...,...,...,...,...,...,...,...,...
2577,2578,"Kasparov, Garry",None,"Averbakh, Yuri L",None,1-0,48,C68,Moscow,1974
2578,2579,"Magerramov, Elmar",None,"Kasparov, Garry",None,0-1,35,B84,Baku,1973
2579,2580,"Kengis, Edvins",None,"Kasparov, Garry",None,1/2-1/2,54,B89,Vilnius,1973
2580,2581,"Kasparov, Garry",None,"Muratkuliev, Shohrat",None,1-0,32,C84,Baku,1973
2581,2582,"Kasparov, Garry",None,Vasilienko,None,1-0,40,C04,Kiev,1973

In [154]:
df_garry_csv = df_garry.copy()

In [155]:
def chess_result_player(color, game_result):
    game_result = game_result.split('-')
    if color == 'white':
        if game_result[0] == '1':
            return 'win'
        elif game_result[0] == '0':
            return 'lose'
        else:
            return 'draw'
    else:
        if game_result[1] == '1':
            return 'win'
        elif game_result[1] == '0':
            return 'lose'
        else:
            return 'draw'

In [159]:
df_garry_csv['play_as'] = df_garry_csv['white_player'].apply(lambda x: 'white' if x == 'Kasparov, Garry' else 'black')
df_garry_csv['rating'] = df_garry_csv.apply(lambda x: x['white_player_rating'] if x['play_as'] == 'white' else x['black_player_rating'], axis=1)
df_garry_csv['opponent'] = df_garry_csv.apply(lambda x: x['white_player'] if x['play_as'] == 'black' else x['black_player'], axis=1)
df_garry_csv['opponent_rating'] = df_garry_csv.apply(lambda x: x['black_player_rating'] if x['play_as'] == 'white' else x['white_player_rating'], axis=1)
df_garry_csv['result'] = df_garry_csv.apply(lambda x: chess_result_player(x['play_as'], x['game_result']), axis=1)

In [168]:
df_garry_csv[['rating', 'play_as', 'opponent', 'opponent_rating', 'result', 'move', 'ECO', 'site', 'year']].head(5)

,rating,play_as,opponent,opponent_rating,result,move,ECO,site,year
0,2801,black,"Nepomniachtchi, Ian",2807,draw,30,A10,Zagreb,2021
1,2801,white,"Vachier-Lagrave, Maxime",2794,lose,43,A04,Zagreb,2021
2,2801,black,"Giri, Anish",2744,draw,39,A04,Zagreb,2021
3,2801,white,"Mamedyarov, Shakhriyar",2716,lose,26,D61,Zagreb,2021
4,2801,black,"Korobov, Anton",2668,lose,17,E73,Zagreb,2021

In [169]:
df_garry_csv[['rating', 'play_as', 'opponent', 'opponent_rating', 'result', 'move', 'ECO', 'site', 'year']].to_csv('garry.csv', index=False)

In [170]:
df_test = pd.read_csv('garry.csv')
df_test.head()

,rating,play_as,opponent,opponent_rating,result,move,ECO,site,year
0,2801.0,black,"Nepomniachtchi, Ian",2807.0,draw,30,A10,Zagreb,2021
1,2801.0,white,"Vachier-Lagrave, Maxime",2794.0,lose,43,A04,Zagreb,2021
2,2801.0,black,"Giri, Anish",2744.0,draw,39,A04,Zagreb,2021
3,2801.0,white,"Mamedyarov, Shakhriyar",2716.0,lose,26,D61,Zagreb,2021
4,2801.0,black,"Korobov, Anton",2668.0,lose,17,E73,Zagreb,2021

In [171]:
df_test.tail()

,rating,play_as,opponent,opponent_rating,result,move,ECO,site,year
2577,NaN,white,"Averbakh, Yuri L",NaN,win,48,C68,Moscow,1974
2578,NaN,black,"Magerramov, Elmar",NaN,win,35,B84,Baku,1973
2579,NaN,black,"Kengis, Edvins",NaN,draw,54,B89,Vilnius,1973
2580,NaN,white,"Muratkuliev, Shohrat",NaN,win,32,C84,Baku,1973
2581,NaN,white,Vasilienko,NaN,win,40,C04,Kiev,1973